__pycache__/
*.py[cod]
*$py.class

# Model weights (usually too large for git without LFS)
*.pth
*.pt

# Uploads
static/uploads/

# Environment
venv/
env/
.env

# IDEs
.vscode/
.idea/

# Large/Unwanted Notebooks
CV_Project_Results.ipynb
